<div class="new-comment-form">
  <%= form_for @game_comment, url: game_comments_new_path do |f| %>

    <%= f.label :comment %><br>
    <%= f.text_field :comment %><br><br>

    <%= f.submit 'Comment' %>
  <% end %>
</div>
