<% if @user.errors.any? %>
  <div class="alert">
    <strong>The form contains <%= pluralize(@user.errors.count, "error") %>.</strong>
  </div>

  <% @user.errors.full_messages.each do |message| %>
    <p><%= message %><p>
  <% end %>
<% end %>
