<% if @game.errors.any? %>
  <div class="alert">
    <strong>The form contains <%= pluralize(@game.errors.count, "error") %>.</strong>
  </div>

  <% @game.errors.full_messages.each do |message| %>
    <p><%= message %></p>
  <% end %>
<% end %>
