.game-show-page {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  border: solid white;
  background-color: violet;
}

.new-game-form {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  border: solid white;
  background-color: violet;
}

#game-comments {
  text-align: left;
}
