.post-show-page {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  border: solid white;
  background-color: brown;
}

.new-post-form {
  text-align: center;
  width: 50%;
  margin-left: 25%;
  border: solid white;
  background-color: brown;
}

#post-comments {
  text-align: left;
}
